/* Color Guide */
/*
Accent Color 1 (for title)	#21C684
Accent Color 2 (for active)	#15A5FA
Blue 1 (Top  bar)			#375173
Blue 2 (Side bar)			#1F2D40
Blue 3 (Body)				#2B3F59
/*

/* Global Setting */
body {
	background-color: #2B3F59;
	color: #fff;
}

/* Top navbar */
.navbar-inverse .navbar-brand {
	color: #fff;
}

.navbar-inverse {
	background-color: #375173;
}

/* Header */
.featured h1 {
	color: #21C684;
	font-weight: normal;
	font-size: 32px;
}

/* Stock Listing */
.stockItem {
	list-style: none;
	padding-left: 0;
}

.stockWrapper {
	background-color: #314866;
	border-radius: 10px;
	padding: 15px;
}

.stockWrapper h5 {
	color: #21C684;
}

.dayZ, .dynamicLiq {
	background-color: #3A5475;
	border-radius: 5px;
	text-align: center;
	margin-bottom: 1px;
}

.stockInfoType {
	color: rgba(255,255,255,.75);
	font-size: 18px;
}

.stockTable {
	width: 100%;
}

.stockTable th, .stockTable td {
	text-align: center;
}

.stockTable th {
	color: rgba(255,255,255,.25);
}

.stockTable td {
	color: #15A5FA;
}

footer {
    /*background-color: #222;*/
    color: #fff;
    padding: 10px;
}