/* Color Guide */
/*
Accent Color 1 (for title)	#21C684
Accent Color 2 (for active)	#15A5FA
Blue 1 (Top  bar)			#375173
Blue 2 (Side bar)			#1F2D40
Blue 3 (Body)				#2B3F59
/*

/* Global Setting */
body {
	background-color: #2B3F59;
	color: #fff;
}

/* Top navbar */
.navbar-inverse .navbar-brand {
	color: #fff;
}

.navbar-inverse {
	background-color: #375173;
}

/* Header */
.featured h1 {
	color: #21C684;
	font-weight: normal;
	font-size: 32px;
}

/* Stock Listing */
.stockItem {
	list-style: none;
	padding-left: 0;
}

@keyframes stockMoAnim {
	from {background-color: #314866;}
	to {background-color: #3A5475;}
}

.stockWrapper {
	background-color: #314866;
	border-radius: 10px;
	padding: 15px;
	margin-bottom: 15px;
}

.stockWrapper:hover {
	background-color: #3A5475;
	animation-name: stockMoAnim;
	animation-duration: 2s;
}

.stockWrapper h5 {
	color: #21C684;
	font-size: 16px;
	margin-top: 0px;
	font-weight: normal;
}

.dayZ, .dynamicLiq {
	background-color: #3A5475;
	border-radius: 5px;
	text-align: center;
	margin-bottom: 1px;
	padding: 5px 0;
}

.stockInfoType {
	color: rgba(255,255,255,.65);
	padding-bottom: 4px;
}

.stockTable {
	width: 100%;
}

.stockTable th, .stockTable td {
	text-align: center;
}

.stockTable th {
	color: rgba(255,255,255,.25);
	font-weight: normal;
}

.stockTable td {
	color: #15A5FA;
	font-size: 16px;
}

.pagination>li>a, .pagination>li>span {
	background-color: #314866;
	border: 1px solid rgba(255,255,255,.15);
	color: #15A5FA;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	background-color: #15A5FA;
	border-color: #15A5FA;
}

footer {
    /*background-color: #222;*/
    color: #fff;
    padding: 10px;
}