@model tdweb.Models.StockData.AAListing
@{
    ViewBag.Title = "AlgoAlert";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}

<h3>Stock Listing</h3>
<div id="stockAAPartial">
    <h2>@Html.Label("stocklistLabel", "Loading...")</h2>
    @{ Html.RenderPartial("StockAlgoAlertPartial", Model); }
</div>

<script type="text/javascript">
    $("#StockAlgoAlertPartial").load(reloadDataAA(1));
</script>
