@model tdweb.Models.StockData.QAListing
@{
    ViewBag.Title = "Quantitative Watchlist";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<h3>Stock Listing</h3>
<div id="stockQAPartial">
    <h2>@Html.Label("stocklistLabel", "Loading...")</h2>
    @{ Html.RenderPartial("StockQAPartial", Model); }
</div>

<script type="text/javascript">
    $("#stockQAPartial").load(reloadData(1));
</script>